.vs/*
x64/*
Release/*
local/*

/DecompressLogo/.vs/*
/DecompressLogo/Debug/
DecompressLogo/x64/*
docs/rough/*.bin
PreDecompress/.vs/*
PreDecompress/Debug/*
PreDecompress/Release/*
share/*
testimage.png
template.png
/Decompress2/.vs/*
/Decompress2/Debug/*
*.bak
/Decompress2/output.txt
/Decompress2/verifyStageX/*
/Decompress2/verifyStageZ/*
/Decompress2/initialized_output.bin
/Decompress2/Verification.txt
/Decompress2/rom_fragment.bin
/Decompress2/rom80BC7B.bin
/Decompress2/ram_stagex_7E0700.bin
/Decompress2/ram_stagex_7E0100.bin
*.sfc
/Decompress2/cpulog_pre/*
/Decompress3/.vs/*
/Decompress3/Debug/*
/Decompress3/Verification.txt
/Decompress3/output.txt
