.vs/*
x64/*
Release/*
local/*

/DecompressLogo/.vs/*
/DecompressLogo/Debug/
DecompressLogo/x64/*
docs/rough/*.bin
PreDecompress/.vs/*
PreDecompress/Debug/*
PreDecompress/Release/*
share/*
testimage.png
template.png
